{% extends 'users/layout.html' %}

{% block content %}
    <div class='container'>
       <P>This website is created by Alfred Emmanuel Inyang with Django Framework to handle the following features:</P>
       <div class="center-container">
           <li>Sign up page for users</li>
           <li>Page were users can fill in their medical information with relevant questions depending on the developer's discretion.</li>
           <li>Sign up page for medical practitioners</li>
           <li>Page that displays the statistical details of the medical records gotten from the users(all users can view this page). e.g A chart that shows the count for users with Ebola.</li>
           <li>Table that displays all users and their relevant medical records(only users registered as medical practitioners can view this page).</li>
           <li>Drop down filter to show users with specified medical records of your own discretion e.g show only users with malaria.</li>
       </div>
    </div>
{% endblock %}