{% extends 'users/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Medical Information</legend>
          <h2>Please select any of the diseases you have experienced in 2018</h2>
          <p>All fields are to be answered correctly. This records would be stored in the database and used by medical practitioners for analysis.</p>
          {{ m_form|crispy }}
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock content %}